:root {
  --primary: #405189;
  --primary-negative: #838fb9;
  --sidebar-item-color: #abb9e8;
  --light: #ffffff;
  --default-bg-negative: #f3f3f9;
  --default-bg-positive: #ffffff;

  --primary-hover-bg: #eaf1fe;

  --border-radius: 3px;
  --default-transition: all .2s;

  --thin-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/poppins-regular-webfont.woff") format("woff"),
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/poppins-semibold-webfont.woff") format("woff"),
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/poppins-bold-webfont.woff") format("woff"),
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  color: inherit;
  text-decoration: none;
}