.container {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    font-family: sans-serif !important;
}

.content {
    flex: 1;
    position: relative;
}